.App {
  text-align: -webkit-center;
  margin-left: 10px;
  width: 100vw;
  height: 80vh;
  margin-top: 10px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody th {
  text-align: left;
}

.navbar_profile {
  margin-right: 50px;
}

.dropdownTerm {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  padding: 0.4em 10em 0.4em 1em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.App-intro {
  margin-top: 10px;
}

.home {
  display: inline-block; 
  width:300px; 
  vertical-align:top
}

.advisor {
  margin-left: 100px;
  width: 100%;
  text-align:left;
}

.Statistics {
  display: list-item;
  list-style-position: inside;
}